<!DOCTYPE html>
<style>
  .vega-actions a {
      margin-right: 12px;
      color: #757575;
      font-weight: normal;
      font-size: 13px;
  }
  .error {
      color: red;
  }
</style>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega@4"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-lite@2.6.0"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-embed@3"></script>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      <section id="projects">
        {% include projects.html %}
      </section>
        {{ content }}
      {% include footer.html %}
  </body>
